FIREBASE_API_KEY=AIzaSyCv_TZiTpmqWvCmdFauE9UH391qGwFVag8
FIREBASE_AUTH_DOMAIN=waseda-study-hub.firebaseapp.com
FIREBASE_PROJECT_ID=waseda-study-hub
FIREBASE_APP_ID=1:484191730969:web:1ab2505b2c743aec48d988
API_BASE_URL=https://backend-t7zh.onrender.com
